<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
    </head>
    <body>
        <h2>Hello SpringBoot with Tesseract !!!</h2>
        <h3 th:text="${message}">Message</h3>
        <!-- REQUIRED JS SCRIPTS -->
        <script th:src="@{'/webjars/popper.js/2.9.2/umd/popper.min.js'}"></script>        
        <script th:src="@{'/webjars/jquery/3.6.3/jquery.min.js'}"></script>
        <script th:src="@{'/webjars/bootstrap/4.6.2/js/bootstrap.min.js'}"></script>
    </body>
</html>